
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title> page </title>
    <link rel = "stylesheet" href = "/css/app.css/app.css">
    
</head>
<body>
    <div class = "app">

        {{>header}}   <--nap header footer vao -->
        
        <h1> THIS IS H1 </h1>
        <div class = "container">
                {{{body}}}
        </div>

        {{> footer}}

    </div>
</body>
</html>