
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title> page </title>
</head>
<body>
    <div class = "app">

        {{>header}}   <--nap header footer vao -->
        
        <div class = "container">
                {{{body}}}
        </div>

        {{> footer}}

    </div>
    {{{body}}}

</body>
</html>